networks:
  appnet:

services:
  web1:
    build:
      context: .
      dockerfile: Dockerfile
    networks: [appnet]
    depends_on:
      - queue

  web2:
    build:
      context: .
      dockerfile: Dockerfile
    networks: [appnet]
    depends_on:
      - queue

  balancer:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web1
      - web2
    networks: [appnet]

  queue:
    image: bitnamilegacy/kafka:3.6
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://queue:9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks: [appnet]

  zookeeper:
    image: bitnamilegacy/zookeeper:3.7
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    networks: [appnet]
