version: "3.9"

networks:
  appnet:

services:
  web1:
    build:
      context: .
      dockerfile: Dockerfile
    networks: [appnet]

  web2:
    build:
      context: .
      dockerfile: Dockerfile
    networks: [appnet]

  balancer:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web1
      - web2
    networks: [appnet]
